@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title" class="text-center text-danger">Urban Banking Zone</h1>
        <p class="lead">Sign Up - Login And Reach to your coin and <a href="#" class="btn btn-primary btn-md">Refer and earn &raquo;</a></p>
    </section>
</main>